body {
  background: #f5f4f1;
  color: #181818;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

a,
a:hover,
a:visited {
  text-decoration: none;
}

h1,
h3 {
  text-align: center;
}

footer {
  background: #695d4f;
  color: #d8e4f2;
}

footer li {
  list-style: none;
  display: inline-block;
  text-align: center;
}

footer img {
  width: 3em;
}
