body {
  background: #F9F9F9;
  color: #121212;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

a,
a:hover,
a:visited {
  text-decoration: none;
}

h1,
h3 {
  text-align: center;
}

footer li {
  list-style: none;
  display: inline-block;
  text-align: center;
}

footer img {
  width: 3em;
}
