/* FONT STUFF I GUESS */
* {
  font-family: 'Open Sans', sans-serif;
}

body {
  font-size: 18px;
  line-height: 1.6;
}

main li {
  font-size: 0.9em;
}

main li::before {
  font-size: 1.2em;
  font-weight: 700;
}

strong {
  font-weight: 600;
}

/* COLOUR THINGS */
body {
  background: #f5f4f1;
  color: #181818;
}

::-moz-selection {
  background-color: #005da6;
  color: #d8e4f2;
}

::selection {
  background-color: #005da6;
  color: #d8e4f2;
}

header {
  background: #695d4f;
  color: #d8e4f2;
}

h2 {
  color: #695d4f;
}

footer {
  background: #695d4f;
}

main li::before {
  color: #005da6;
}

main a,
main a:focus,
main a:visited {
  color: #005da6;
}

.row a,
.row a:focus,
.row a:visited {
  color: #d8e4f2;
}

a:hover {
  color: #8c8fff !important;
}

/* LAYOUT */
body {
  margin: 0;
}

li {
  list-style: none;
}

h1, h3 {
  margin: 0;
  padding: 0.5em 0;
  text-align: center;
}

.container {
  margin: 0 auto;
  max-width: 700px;
}

main {
  margin: 0.5em;
}

.inset {
  padding-left: 2.5em;
  border-left: 3px solid #695d4f;
}

main li {
  padding-bottom: 0.5em;
}

main li:last-child {
  padding-bottom: 0;
}

footer {
  padding: 0.5em 0;
}

.row {
  padding: 0.5em 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.row li {
  width: 30%;
  display: inline-block;
  text-align: center;
}

.row img {
  width: 3em;
  vertical-align: bottom;
}

/* FEATURES */
main li::before {
  margin-left: -2em;
  width: 2em;
  display: inline-block;
  vertical-align: middle;
  content: ">";
}

a,
a:hover,
a:focus,
a:visited {
  text-decoration: none;
}

img.back {
  display: none;
}

.img-swap:hover img.front {
  display: none;
}

.img-swap:hover img.back {
  display: inline-block;
}

#copy {
  display: none;
}

/*
 *  fix hover effect on icons
 *  select colour for text
 *  desktop:
 *  icon to words for email
 *  make clipboard appear
 */
