<div class="includes-footer-container page-container noprint">
    <div class="includes-footer-content outer-container">
        <div>
            <a href="#" id="scrollToTop">Return to top</a>
        </div>
        <div>
            <h4>Get in touch:</h4>
            <div class="includes-footer-socials">
                <a href="mailto:philipcastiglione@gmail.com" class="includes-footer-logo">
                    <img src="{{ '/assets/images/shared/email.png' | relative_url }}" alt="email icon">
                </a>
                <a href="https://www.linkedin.com/in/philcastiglione/" class="includes-footer-logo" target="_blank"
                    rel="noopener noreferrer">
                    <img src="{{ '/assets/images/shared/linkedin.png' | relative_url }}" alt="linkedin logo">
                </a>
                <a href="https://github.com/philipCastiglione/" class="includes-footer-logo" target="_blank"
                    rel="noopener noreferrer">
                    <img src="{{ '/assets/images/shared/github.png' | relative_url }}" alt="github logo">
                </a>
            </div>
            <p>Copyright &copy; Philip Castiglione {{ 'now' | date: '%Y' }}. All rights reserved.</p>
        </div>
    </div>
</div>
<script>
    document.getElementById('scrollToTop').addEventListener('click', () => window.scrollTo(0, 0));
</script>