<div class="includes-header-container page-container">
    <div class="includes-header-content outer-container">
        <div class="includes-header-logo"><img src="{{ '/public/favicon-32x32.png' | relative_url }}" alt="a castle"/></div>
        <div class="includes-header-rows">
            <nav class="includes-header includes-header-top-level">
                {% for nav_item in site.data.nav %}
                    {% include nav_link.html link_item=nav_item %}
                    {% if page.url contains nav_item.link %}
                        {% assign level_one_nav_items = nav_item.children %}
                    {% endif %}
                {% endfor %}
            </nav>
            {% if level_one_nav_items %}
                <nav class="includes-header">
                    {% for nav_item in level_one_nav_items %}
                        {% include nav_link.html link_item=nav_item %}
                        {% if page.url contains nav_item.link %}
                            {% assign level_two_nav_items = nav_item.children %}
                        {% endif %}
                    {% endfor %}
                </nav>
            {% endif %}
            {% if level_two_nav_items %}
                <nav class="includes-header">
                    {% for nav_item in level_two_nav_items %}
                        {% include nav_link.html link_item=nav_item %}
                    {% endfor %}
                </nav>
            {% endif %}
        </div>
    </div>
</div>