{% if page.url contains include.link_item.link %}
    <div>
        {% if page.url == include.link_item.link %}
            <span class="includes-nav-link-item includes-nav-link-item-active">
                {{ include.link_item.name }}
            </span>
        {% else %}
            <a class="includes-nav-link-item includes-nav-link-item-parent" href="{{ include.link_item.link }}">
                {{ include.link_item.name }}
            </a>
        {% endif %}
    </div>
{% else %}
    <div>
        <a class="includes-nav-link-item" href="{{ include.link_item.link }}">
            {{ include.link_item.name }}
        </a>
    </div>
{% endif %}