// BEHAVIOUR

html,
body {
    scroll-behavior: smooth;
}

// COLORS

$color-primary: #4c88a9;
$color-contrast: #ff9000;
$color-black: #000000;
$color-white: #ffffff;

$color-linkedin: #0a66c2;

body {
    color: $color-black;
    background-color: $color-white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: darken($color-primary, 10%);
}

a:hover {
    background-color: darken($color-white, 7%);
}

// LAYOUT

$spacing-unit: 8px;
$border-radius: 4px;

.page-container {
    min-width: 100vw;
}

.outer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: $spacing-unit * 2;
    padding-right: $spacing-unit * 2;
}

.inner-container {
    max-width: 960px;
    margin: 0 auto;
    padding-left: $spacing-unit * 2;
    padding-right: $spacing-unit * 2;
}

p,
li {
    margin-top: $spacing-unit * 1.5;
    margin-bottom: $spacing-unit * 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: $spacing-unit * 3;
    margin-bottom: $spacing-unit * 1;
}

blockquote {
    border-left: $spacing-unit solid $color-primary;
    padding-left: $spacing-unit * 2;
    padding-top: $spacing-unit * 0.5;
    padding-bottom: $spacing-unit * 0.5;
    margin-top: $spacing-unit * 2.5;
    margin-bottom: $spacing-unit * 2.5;
    background-color: lighten($color-primary, 45%);
}

// TYPOGRAPHY

html,
body {
    font-family: Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro, sans-serif;
    font-weight: normal;
}

h1,
h2,
h3 {
    font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial, sans-serif;
    font-weight: normal;
}

$font-size-base: 18px;

p,
li {
    font-size: $font-size-base;
    line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.4;
}
h1 {
    font-size: $font-size-base * 2;
}
h2 {
    font-size: $font-size-base * 1.5;
}
h3 {
    font-size: $font-size-base * 1.25;
}
h4 {
    font-size: $font-size-base * 1.15;
}
h5 {
    font-size: $font-size-base * 1;
}
h6 {
    font-size: $font-size-base * 0.85;
}

a {
    color: $color-primary;
}

// UTILS

.text-center {
    text-align: center;
}
