.pages-resume {
    margin-bottom: $spacing-unit * 4;

    h1 {
        font-size: $font-size-base * 1.75;
        line-height: 1;
    }
    @media only screen and (min-width: $media-tablet) {
        h1 {
            font-size: $font-size-base * 2;
        }
    }
    @media only screen and (min-width: $media-desktop) {
        h1 {
            font-size: $font-size-base * 2.25;
        }
    }
    @media only screen and (min-width: $media-large) {
        h1 {
            font-size: $font-size-base * 2.5;
        }
    }

    p,
    li,
    h3 {
        margin: 0;
    }

    ul {
        list-style-type: square;
        padding-left: $spacing-unit * 3;
    }
}

.pages-resume-subtitle {
    color: $color-black;
    font-weight: 500;
}

@media only screen and (min-width: $media-desktop) {
    .pages-resume {
        margin-bottom: $spacing-unit * 8;
    }
}

.pages-resume-header-title {
    display: flex;
    align-items: center;
    margin-bottom: $spacing-unit;

    hr {
        flex-grow: 1;
        margin-left: $spacing-unit * 1.5;
        margin-right: $spacing-unit * 1.5;
        margin-bottom: 0;
        border-color: $color-primary;
    }
}

.pages-resume-header-row {
    display: flex;
    flex-direction: column;
    margin-top: $spacing-unit * 2.5;

    p {
        margin-top: $spacing-unit * 0.5;
        margin-bottom: $spacing-unit;
    }
}

@media only screen and (min-width: $media-desktop) {
    .pages-resume-header-row {
        flex-direction: row;
        gap: $spacing-unit * 2;
        justify-content: space-between;
        align-items: center;

        > * {
            flex-basis: 33.333334%;
        }
    }
}

.pages-resume-header-logo {
    width: 60px;
    height: 60px;
    flex: 0;
    border-radius: $border-radius;
    margin-top: $spacing-unit;
    margin-bottom: $spacing-unit;
}

.pages-resume-header-location-date {
    display: flex;
    justify-content: space-between;

    * {
        display: block;
    }
}
