* {
  font-family: 'Open Sans', sans-serif;
}

.console {
  text-align: center;
  font-size: 1.5em;
}

.movie {
  text-decoration: underline;
  font-size: 1.2em;
}

.movie:hover {
  cursor: pointer;
}
