/* FONT STUFF I GUESS */
* {
  font-family: 'Open Sans', sans-serif;
}

body {
  font-size: 18px;
  line-height: 1.6;
}

h1, h3 {
  font-weight: 600;
}

main li {
  font-size: 0.9em;
}

main li::before {
  font-size: 1.2em;
  font-weight: 700;
}

strong {
  font-weight: 600;
}

.inset,
.description {
  font-style: italic;
}

table.inset {
  font-size: 0.9em;
}

.description {
  font-size: 0.8em;
}

.commented span {
  font-size: 15px;
}

/* COLOUR THINGS */
body {
  background: #FFF;
  color: #181818;
}

::-moz-selection {
  background-color: #A80FB8;
  color: #FFF;
}

::selection {
  background-color: #A80FB8;
  color: #FFF;
}

header {
  background: #000000;
  color: #B98EBE;
}

h2 {
  color: #000000;
}

footer {
  background: #000000;
}

main li::before {
  color: #A80FB8;
}

main a,
main a:focus,
main a:visited {
  color: #A80FB8;
}

.row a,
.row a:focus,
.row a:visited {
  color: #B98EBE;
}

h1 a,
h1 a:focus
h1 a:visited {
  color: inherit;
}

.current,
a:hover {
  color: #8C5092 !important;
}

blockquote,
.inset {
  border-left: 3px solid #000000;
  background: rgba(68,68,68,0.2);
}

.known {
  color: #8C5092;
}

.gap {
  color: #cc0000;
}

.excess {
  color: #A80FB8;
}

.commented span {
  background: white;
  border: 1px solid black;
}

/* LAYOUT */
body {
  margin: 0;
}

li {
  list-style: none;
}

h1, h3 {
  margin: 0;
  padding: 0.5em 0;
  text-align: center;
}

h5 {
  margin: 0.5em 0 0 0;
  display: inline-block;
  width: 85%;
}

.progress {
  float: right;
  font-size: 0.8em;
}

.description {
  margin-top: 0;
}

.container {
  margin: 0 auto;
  max-width: 700px;
}

main {
  margin: 0.5em;
}

.hero {
  margin: -0.5em;
  width: 100vw;
  box-shadow: inset 0px 0px 300px black;
}

.hero img {
  width: 100%;
  position: relative;
  z-index: -1;
  display: inherit;
}

blockquote,
.inset {
  padding: 0.5em 0.5em 0.5em 2.5em;
}

table.inset {
  padding: 0.5em 0.5em 0.5em 1em;
}


main li {
  padding-bottom: 0.5em;
}

main li:last-child {
  padding-bottom: 0;
}

footer {
  margin-top: 3em;
  padding: 0.5em 0;
}

.row {
  padding: 0.5em 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.row li {
  width: 30%;
  display: inline-block;
  text-align: center;
}

.row img {
  width: 3em;
  vertical-align: bottom;
}

.skills,
.learning {
  min-height: 100vh;
}

/* FEATURES */
main li::before {
  margin-left: -2em;
  width: 2em;
  display: inline-block;
  vertical-align: middle;
  content: ">";
}

a,
a:hover,
a:focus,
a:visited {
  text-decoration: none;
}

img.back {
  display: none;
}

.img-swap:hover img.front {
  display: none;
}

.img-swap:hover img.back {
  display: inline-block;
}

.copy {
  display: none;
}

table {
  width: 100%;
}

td:first-child {
  width: 35%;
}

td:last-child {
  width: 65%;
}

.commented {
  position: relative;
  text-decoration: underline;
}

.commented span {
  display: none;
  width: 150px;
  position: absolute;
  bottom: 0;
  margin-left: 5px;
  padding: 7px;
  border-radius: 6px 6px 6px 0;
}

.commented:hover span {
  display: inline-block;
}

/* ANIMATION */
.bounce {
  -webkit-animation: bounce .5s 1;
  -moz-animation: bounce .5s 1;
  animation: bounce .5s 1;
  position: relative;
}

@-webkit-keyframes bounce {
  0%       { bottom: 5px; }
  25%, 75% { bottom: 14px; }
  50%      { bottom: 18px; }
  100%     { bottom: 0; }
}

@-moz-keyframes bounce {
  0%       { bottom: 5px; }
  25%, 75% { bottom: 14px; }
  50%      { bottom: 18px; }
  100%     { bottom: 0; }
}

@keyframes bounce {
  0%       { bottom: 5px; }
  25%, 75% { bottom: 14px; }
  50%      { bottom: 18px; }
  100%     { bottom: 0; }
}

/* RESPONSIVE */
@media (min-width: 1025px) {
  .copy {
    display: inline-block;
    cursor: pointer;
  }

  .copy img {
    width: 2em;
    vertical-align: super;
    margin-left: 1em;
  }
}
