// LAYOUT

$spacing-unit: 8px;

.main-body {
    margin-left: $spacing-unit * 3;
    margin-right: $spacing-unit * 3;
}

// COLORS

$color-primary: #007bff;
$color-black: #000000;
$color-grey: #6c757d;
$color-light-grey: #e8e9ea;

// TYPOGRAPHY

$font-size-base: 16px;
