.includes-header-container {
    display: flex;
    margin-top: $spacing-unit * 2;
    margin-bottom: $spacing-unit * 2;
}

.includes-header-logo {
    margin: $spacing-unit;
}

.includes-header-rows {
    margin-left: $spacing-unit * 3;
    flex: 1;
}

.includes-header {
    display: flex;
    gap: $spacing-unit * 3;
    font-size: $font-size-base * 1.25;
    margin: $spacing-unit 0;
}

.includes-header-top-level {
    justify-content: space-between;
    font-size: $font-size-base * 1.5;
}

.includes-header-link-item {
    color: $color-primary;
    border-radius: $border-radius;
    padding: $spacing-unit $spacing-unit * 1.5;
    
    &:hover {
        text-decoration: none;
        color: lighten($color-primary, 15%);
        background-color: darken($color-white, 10%);
    }
}

.includes-header-link-item-parent,
.includes-header-link-item-active {
    text-decoration: underline;
    
    &:hover {
        text-decoration: underline;
    }
}

.includes-header-link-item-active {
    color: $color-black;
    
    &:hover {
        color: $color-black;
        background: none;
    }
}