---
layout: default
title: Philip Castiglione - Resume
permalink: /resume.html
---
<div class="pages-resume page-container">
  <div class="outer-container">
    <div class="text-center">
      <p class="noprint">
        <a href="{{ '/public/PhilipCastiglioneResume.pdf' | relative_url }}">Access a pdf version.</a>
      </p>
      <h1>Philip Castiglione</h1>
      <h4 class="pages-resume-subtitle">Software Engineering Leader ‖ Driving High-Impact Teams, Scalable Systems & Product Innovation</h4>
      <div class="pages-resume-header-contact">
        <a href="mailto:philipcastiglione@gmail.com" class="pages-resume-header-link">
          <img src="{{ '/assets/images/shared/email.png' | relative_url }}" alt="email icon">
          <span>philipcastiglione@gmail.com</span>
        </a>
        <a href="https://www.linkedin.com/in/philcastiglione/" class="pages-resume-header-link" target="_blank"
          rel="noopener noreferrer">
          <img src="{{ '/assets/images/shared/linkedin.png' | relative_url }}" alt="linkedin logo">
          <span>LinkedIn</span>
        </a>
        <a href="https://github.com/philipCastiglione/" class="pages-resume-header-link" target="_blank"
          rel="noopener noreferrer">
          <img src="{{ '/assets/images/shared/github.png' | relative_url }}" alt="github logo">
          <span>GitHub</span>
        </a>
      </div>
    </div>
    <div class="page-resume-top-bio">
      <p>Strategic engineering leader with a decade of experience growing high-performing teams, delivering complex systems at scale, and aligning tech execution with business outcomes. Deep technical expertise across architecture, AI/ML, cloud infrastructure, and full-stack engineering. Proven success leading cross-functional teams across startups, scaleups, and public companies in APAC, EMEA and US markets.</p>
    </div>
    <div class="pages-resume-header-title">
      <hr>
      <h2>Experience</h2>
      <hr>
    </div>
    {% include resume_experience.html
       organisation='Intercom'
       img_name='intercom.jpg'
       title='Staff Product Engineer'
       location='(Hybrid) Dublin, Ireland'
       date='08/25 - now' %}
    <p>Building the future of customer support with AI, working on <a href="https://fin.ai/" class="" target="_blank" rel="noopener noreferrer">Fin</a>, by Intercom.</p>
    {% include resume_experience.html
       organisation='Elevate Partners'
       img_name='elevate.jpg'
       title='Principal Consultant'
       location='(Remote) clients in USA & Australia'
       date='07/22 - 08/25' %}
    <p>Led engagements in senior technical leadership roles:</p>
    <ul class="pages-resume-elevate-experience">
      <li><strong>CTO (HR SaaS Startup):</strong> Development, strategy & sales: AI-enhanced HR SaaS platform; automated B2B outreach sales engine.</li>
      <li><strong>Engineering Manager (NASDAQ-listed Fintech):</strong> Delivered fault-free platform transition to offshore teams.</li>
      <li><strong>Platform Tech Lead (Data/ML Scaleup):</strong> Directed platform evolution and introduced numerous best practices.</li>
      <li><strong>Principal Engineer (US Healthtech Startup):</strong> Built MVP in 6 weeks enabling founder fundraising and enterprise customer acquisition.</li>
    </ul>
    {% include resume_experience.html
       organisation='DIGIT, a Scopely Studio'
       img_name='digit.jpg'
       title='Platform Tech Lead'
       location='(Hybrid) Dublin, Ireland'
       date='11/19 - 06/22' %}
    <ul>
      <li>Managed a high-performing team of 5 engineers; led hiring, onboarding, mentoring, and team development.</li>
      <li>Led delivery of Battle Pass system generating >$100M/year in revenue.</li>
      <li>Owned platform architecture (Python, Flask, MySQL, Redis, Celery, AWS) supporting 100k+ CCU in real-time game backend.</li>
      <li>Consistently received the highest rating on the scale at every performance review.</li>
    </ul>
    {% include resume_experience.html
       organisation='Cogent (acq. by Block, NYSE: SQ)'
       img_name='cogent.jpg'
       title='Software Engineer'
       location='Melbourne, Australia'
       date='04/18 - 11/19' %}
    <ul>
      <li>Initiated Cogent's AI & Machine Learning practice, building a public recommender system demo to drive client
        acquisition and then implementing an NLP pipeline to automate customer onboarding for a B2B SaaS startup,
        reducing manual effort by >40%.</li>
      <li>Every client I worked with tried to hire me.</li>
      {% comment %} <li>ASX50 proptech: Improved core search path response time by 200-300ms (10-15%) for >100m monthly users via
        optimisations through an event sourced data stream (Amazon RDS and Amazon Redshift), several microservice
        enrichment layers (Ruby, Scala, GraphQL) to the front end (Backbone, React, jQuery).</li> {% endcomment %}
    </ul>
    {% include resume_experience.html
       organisation='A2I2 (Applied AI Institute)'
       img_name='a2i2.jpg'
       title='Machine Learning Internship'
       location='Melbourne, Australia'
       date='11/18 - 12/18' %}
    <ul>
      <li>Seconded from Cogent to upskill in AI/ML.</li>
      <li>Built computer vision prototype converting hand-drawn UIs to code.</li>
    </ul>
    {% include resume_experience.html
       organisation='JCurve Solutions (ASX: JCS)'
       img_name='jcurve.jpg'
       title='Software Developer'
       location='Melbourne, Australia'
       date='05/16 - 04/18' %}
    <ul>
      <li>Core contributor; developed secure OAuth2-based Authn/Authz system using JWTs.</li>
      <li>Deepened SDLC, coding, testing, and architecture practices.</li>
    </ul>
    {% include resume_experience.html
       organisation='Hardhat Digital'
       img_name='hardhat.jpg'
       title='Junior Programmer'
       location='Melbourne, Australia'
       date='06/15 - 05/16' %}
    <ul>
      <li>Career pivot into tech.</li>
      <li>Delivered web, cross-platform apps & CMS e-commerce systems under the guidance of a brilliant mentor.</li>
    </ul>
    {% include resume_experience.html
       organisation='University of Melbourne'
       img_name='unimelb.jpg'
       title='Strategy and Business Analyst'
       location='Melbourne, Australia'
       date="'13 - '15" %}
    <ul>
      <li>Reponsible for business case development, budget preparation and reporting to the executive.</li>
      <li>Designed and implemented a budget management framework for the Melbourne School of Land and Environment
        across 16 stakeholders. Achieved excess annual surplus versus financial targets of >$1m on $47m budget.</li>
    </ul>
    {% include resume_experience.html
       organisation='Safe Marketing Australia'
       img_name='sma.jpg'
       title='Non-Executive Director'
       location='Melbourne, Australia'
       date="'11 - '14" %}
    <ul>
      <li>Provided independent oversight and expertise to education sector marketing service provider.</li>
      <li>Strategic guidance, governance and risk oversight for the executive.</li>
    </ul>
    {% include resume_experience.html
       organisation='KPMG'
       img_name='kpmg.jpg'
       title='Management Consultant - Operations & Strategy'
       location='Brisbane, Australia'
       date="'12 - '13" %}
    <ul>
      <li>Client facing Management Consulting advice and deliverables in the areas of: Operational and Process
        Improvement, Strategy, Business Performance Management and Organisational Design.</li>      
    </ul>
    {% include resume_experience.html
       organisation='SC Financial Group & Castiglione Securities Trading'
       img_name='cst.jpg'
       title='Co-Founder'
       location='Bangkok, Thailand & Perth&#47;Melbourne,&nbsp;Australia'
       date="'09 - '11" %}
    <ul>
      <li>Co-founded and ran two boutique investment businesses trading in derivatives and foreign currencies.</li>
      <li>Raised more than $500k in capital from private investors and managed stakeholder relations.</li>
    </ul>
    {% include resume_experience.html
       organisation='The University of Western Australia'
       img_name='uwa.jpg'
       title='Senior Accounts Officer'
       location='Perth, Australia'
       date="'05 - '09" %}
    <ul>
      <li>Management, training and leadership of a team of five departmental staff.</li>
      <li>Major projects delivered include: Business Recovery Plan; a road map to a budget neutral position after
        years of sustained deficits & Unit Costing Project; methodology to determine the per-subject cost of teaching
        delivery within the school.</li>
    </ul>
    <div class="pages-resume-header-title">
      <hr>
      <h2>Education</h2>
      <hr>
    </div>
    {% include resume_experience.html
       organisation='Deakin University'
       img_name='deakin.jpg'
       title='Bachelor of Computer Science'
       location='Melbourne, Australia'
       date="03/17 - 11/20" %}
    <ul>
      <li>Graduated top of my year, won just about every prize & scholarship available, whilst also working full time.
      </li>
      <li>Deakin Scholarship for Excellence, Professor of Information Technology Award, School of Information Technology
        Award, Patrick Pleass Memorial Award, Australian Computer Society Student Excellence Award, Graduated With
        Distinction.</li>
      <li>Founding Executive Member (Treasurer) of Deakin Software Engineering Club.</li>
    </ul>
    {% include resume_experience.html
       organisation='University of Melbourne'
       img_name='unimelb.jpg'
       title='Bachelor of Commerce (Finance)'
       location='Melbourne, Australia'
       date="03/09 - 02/12" %}
    <ul>
      <li>High Distinction average, multiple academic awards, whilst also working mostly full time.</li>
      <li>CPA Management Accounting Prize, Sothertons Fraud and Forensics Prize.</li>
    </ul>
    <div class="pages-resume-header-title">
      <hr>
      <h2>Technical Skills</h2>
      <hr>
    </div>
    <p>I stay deeply technical. I have a broad skillset across Full-Stack Web Development, Scalable
      System Design, Software Architecture, Distributed Systems, Profiling & Performance Optimisation, Cloud Infrastructure,
      Observability and Monitoring, Analytics, Applied AI/ML & Generative AI.</p>
  </div>
</div>